<% const path = "/"; %>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<title><%= head.title %></title>
<meta name="title" content="<%= head.title %>" />
<meta name="description" content="<%= head.description %>" />
<!-- css -->
<link rel="stylesheet" href="<%= path %>assets/css/style.css" />
<!-- js -->
<script defer src="<%= path %>assets/js/bundle.js"></script>
